<div class="page-header">
  <div class="container">
      <h1>Login</h1>
  </div>
</div>

<form>
  <div class="container">
    <div class="col-lg-6 col-xl-5 col-md-9 mx-auto">
      <div class="mat-card">
        <div class="card-body">
          <div class="form-group form-row mt-1">
            <mat-form-field appearance="legacy">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" type="text" [(ngModel)] = "loginViewModel.UserName" name="UserName" autofocus="autofocus">
            </mat-form-field>
          </div>

          <div class="form-group form-row mt-1">
            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" [(ngModel)] = "loginViewModel.Password" name="Password">
            </mat-form-field>
          </div>
        </div>

        <div class="card-footer text-white">
          <span class="text-danger">{{loginError}}&nbsp;</span>
          <div class="row between-xs" >
            <button mat-raised-button color="primary" (click)="onLoginClick($event)">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
